<div class="footer-frame">
    <div class="site-description">
        <ul class="site-name">
            <li><img src="../../assets/images/icons/F_3_-removebg-preview.png" class="h-20 w-20 logo-icon" alt="" srcset=""></li>
            <li>
                <p class="site-title">FoodMania</p>
            </li>
        </ul>
        <p class="description">Freshly prepared meals delivered to you.</p>
        <ul class="footer-links">
            <li>
                <a href="#"><img src="../../../assets/images/icons/Icon instagram.png"></a>
            </li>
            <li>
                <a href="#"><img src="../../../assets/images/icons/Icon facebook square.png"></a>
            </li>
            <li>
                <a href="#"><img src="../../../assets/images/icons/Icon twitter.png"></a>
            </li>
        </ul>
        
    </div>
    <div class="contact-details">
        <small>Need assistance?</small>
        <p>Our team is ready to help you.</p>
        <ul>
            <li>
                <ul class="phone-no">
                    <li><img src="../../../assets/images/icons/Icon phone.png" alt=""></li>
                    <li><span class="detail">(+94) 412 233 255</span></li>
                </ul>    
            </li>
            <li>
                <ul class="email-details">
                    <li><img src="../../../assets/images/icons/Icon envelope.png"></li>
                    <li><span class="detail">foodmania@fd.com</span></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
