<div class="px-4">
    <div class="max-w-lg max-auto py-24 ">
        <div class="shadow p-6 rounded-lg user-count-div  justify-center user-main-div transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">
            <div class=" md:justify-between md:items-center  justify-center">
                <div class="rounded-lg bg-white w-12 h-12 ml-30 logo-user">
                    <img src="../../../assets/images/icons/group(1).png" alt="" class="w-12 h-12">
                </div>
                <p class="text-white font-bold text-2xl user-count-no">14,7k</p>
                <p class="text-white font-bold text-s user-description">Users</p>  
                <mat-progress-bar mode="determinate" value="40" class="mat-progress-bar" color="accent" ></mat-progress-bar>
            </div>
            
        </div>
    </div>
</div>
