<p class="top-rated-eateries-headline">Top-Rated Eateries</p>
<div class="top-rated-eateries-grid">
    <nz-card [nzBordered]="true" [nzHoverable]="true" style="width: 300px;">
      <button nz-button nzType="primary" class="info-btn">Info</button>
      <img src="../../../assets/images/icons/Icon_fish.png" alt="" class="icon-fish">  
      <p class="eater-description">Spicy Calamari</p>
    </nz-card>

      <nz-card [nzBordered]="true" [nzHoverable]="true" style="width: 300px;">
        <button nz-button nzType="primary" class="info-btn">Info</button>
        <img src="../../../assets/images/icons/Icon_fire.png" alt="" class="icon-fish">  
        <p class="eater-description">Avocado Sushi Roll</p>
      </nz-card>

      <nz-card [nzBordered]="true" [nzHoverable]="true" style="width: 300px;">
        <button nz-button nzType="primary" class="info-btn">Info</button>
        <img src="../../../assets/images/icons/Icon_frog.png" alt="" class="icon-fish">  
        <p class="eater-description">Creamy Mushroom Pasta</p>
      </nz-card>

      <nz-card [nzBordered]="true" [nzHoverable]="true" style="width: 300px;">
        <button nz-button nzType="primary" class="order-now-btn">Order Now</button>
        <img src="../../../assets/images/icons/Icon_spoon.png" alt="" class="icon-fish">  
        <p class="eater-description">Fresh Food Delivery</p>
      </nz-card>

      <nz-card [nzBordered]="true" [nzHoverable]="true" style="width: 300px;">
        <button nz-button nzType="primary" class="order-now-btn">Order Now</button>
        <img src="../../../assets/images/icons/Icon_utensils (1).png" alt="" class="icon-fish">  
        <p class="eater-description">Healthy Meal Options</p>
      </nz-card>

      <nz-card [nzBordered]="true" [nzHoverable]="true" style="width: 300px;">
        <button nz-button nzType="primary" class="order-now-btn">Order Now</button>
        <img src="../../../assets/images/icons/Icon_apple.png" alt="" class="icon-fish">  
        <p class="eater-description">Traditional Cuisine Selection</p>
      </nz-card>
</div>
<nz-divider></nz-divider>
  
