<div class="nav-wrapper">
    <div class="nav-container flex overflow-hidden ">
        <div class="absolute text-white w-56 min-h-screen overflow-y-auto transition-transform transform- translate-x-full ease-in-out duration-300 side-bar"
        id="side-bar">
        <div class="p-4">
            <ul class="mt-4 item">   
                <li class="mb-2">
                    <a routerLink="" class="block hover: text-indigo-400">
                        <ul class="item">
                            <li>Dashboard</li>
                        </ul>
                    </a>
                </li>
                <li class="mb-2 item"><a routerLink="" class="block hover: text-indigo-400">
                    <ul class="item">
                        <li>Users</li>
                    </ul>
                    </a>
                </li>
                <li class="mb-2 item"><a routerLink="" class="block hover: text-indigo-400">
                    <ul class="item">
                        <li>Shops</li>
                    </ul>
                </a></li>
                <li class="mb-2 item"><a routerLink="" class="block hover: text-indigo-400">
                    <ul class="item">
                        <li>Meals</li>
                    </ul>
                </a></li>
                <li class="mb-2 item"><a routerLink="" class="block hover: text-indigo-400">
                    <ul class="item">
                        <li class="delivery-agent">Delivary Agent</li>
                    </ul>
                </a></li>
                <li class="mb-2 item"><a routerLink="" class="block hover: text-indigo-400">
                    <ul class="item">
                        <li>Reports</li>
                    </ul>
                </a></li>
            </ul>
        </div>
        </div>
    </div>
</div>
