<div class="px-4">
    <div class="max-w-lg max-auto py-24 ">
        <div class="shadow p-6 rounded-lg meal-count-div  justify-center meal-count-main-div transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 ">
            <div class=" md:justify-between md:items-center  justify-center">
                <div class="rounded-lg bg-white w-12 h-12 meal-img-div ">
                    <img src="../../../assets/images/icons/dinner.png" alt="" class="w-8 h-8 flex justify-center mt-2 ml-2 relative top-1.0">
                </div>
                <p class="text-white font-bold text-2xl meal-count">20</p>
                <p class="text-white font-bold text-sm meal-description">Meals</p>
                <mat-progress-bar mode="determinate" value="40" class="mat-progress-bar" color="primary"></mat-progress-bar>
            </div>
        </div>
    </div>
</div>
