ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

ul li a {
    height: 25rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: black;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

.name{
    position: relative;
    display: flex;
    justify-content: center;  /* align horizontally */
    align-items: center;      /* align vertically */
    font-weight: 800;
}

.tags{
    border-radius: 10px;
    padding: 5px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-time{
    margin-top: 39px;
    margin-left: 14px;
}

.meal-price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.add-to-cart{
    padding: 10px;
    border-radius: 15px;
    background: #c00a27;
    color: white;
    position: relative;
    left: 32%;
    top: 79%;
    cursor: pointer;
}

.food-img{
    width: 316px;
    height: 239px;
}