<header>
    <div class="Container">
        <a href="#" routerLink="/" class="logo">Food Mania</a>
        <nav>
            <ul class="header-nav-list">
                <li>
                    <a href="#" routerLink="/cart-page"><mat-icon>search</mat-icon></a>
                    <mat-icon class="phone-icon">settings_phone</mat-icon>
                    <a href="#" routerLink="/cart-page">Call Us Now <br> +94-77784789</a>
                    <a href="#" routerLink="/cart-page"><mat-icon>person</mat-icon></a>
                    <a href="#" routerLink="/cart-page"><mat-icon>shopping_cart</mat-icon></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
