<div class="status-frame">
    <div class="restaurant-status">
        <nz-card style="width: 200px;display: flex;justify-content: center;">
            <img src="../../../assets/images/icons/Icon_utensils.png" class="h-10 w-10 restaurant-logo" alt="" srcset="">
            <p class="flex text-center description">100+ restaurants</p>
            <small class="text-xs description-ext">Nationwide Coverage</small>
        </nz-card>
    </div>
    <div class="quality-status">
        <nz-card style="width: 200px;display: flex;justify-content: center;">
            <img src="../../../assets/images/icons/Icon-leaf.png" class="h-10 w-10 restaurant-logo" alt="" srcset="">
            <p class="flex text-center description">Farm-fresh</p>
            <small class="text-xs description-ext">Quality Assurance Guaranteed</small>
        </nz-card>
    </div>
    <div class="deliver-status">
        <nz-card style="width: 200px;display: flex;justify-content: center;">
            <img src="../../../assets/images/icons/Icon-truck.png" class="h-10 w-10 restaurant-logo" alt="" srcset="">
            <p class="flex text-center description">Quick dispatch</p>
            <small class="text-xs description-ext">Speedy delivery service</small>
        </nz-card>
    </div>
    <div class="order-status">
        <nz-card style="width: 200px;display: flex;justify-content: center;">
            <img src="../../../assets/images/icons/Icon-eye.png" class="h-10 w-10 restaurant-logo" alt="" srcset="">
            <p class="flex text-center description">Live order status</p>
            <small class="text-xs description-ext">Real-time order tracking</small>
        </nz-card>
</div>