<p class="how-it-enjoy-headline">How it enjoy?</p>
<div class="order-processing-steps-frame">
    <div>
        <nz-card nzHoverable Style=" width: 250px; height: 320px;">
                <img src="../../../assets/images/icons/Image(2).png">
            <nz-card-meta nzTitle="Choose the meal" nzDescription="Select your favorite dishes"></nz-card-meta>
          </nz-card>
    </div>
    <div>
        <nz-card nzHoverable Style=" width: 250px">
            <img src="../../../assets/images/icons/jessie-mccall-guXX_Wm-wnY-unsplash.jpg" style="height: 200px; width: 200px;">
        <nz-card-meta nzTitle="Order" nzDescription="Delicious options at your fingertips"></nz-card-meta>
      </nz-card>
    </div>
    <div>
         <nz-card nzHoverable Style=" width: 250px">
                <img src="../../../assets/images/icons/desola-lanre-ologun-N6e9cnOMXEk-unsplash.jpg" style="height: 200px; width: 280px;">
            <nz-card-meta nzTitle="Track delivery" nzDescription="Real-time updates on your order status"></nz-card-meta>
          </nz-card>
    </div>
    <div>
         <nz-card nzHoverable Style=" width: 250px;height: 320px;">
                <img src="../../../assets/images/icons/victoria-shes-Qa29U4Crvn4-unsplash.jpg" style="height: 200px; width: 280px;">
            <nz-card-meta nzTitle="Enjoy!" nzDescription="Savor every bite of your meal"></nz-card-meta>
          </nz-card>
    </div>
</div>
<nz-divider></nz-divider>
